<!--the template frame-->
<div id="page-wrapper" class="open" data-ng-controller="templateCtrl" data-ng-cloak>
    <!-- Sidebar -->
    <sidebar title="{{locationLabel}}" title-icon="fa-share-alt">
        <!--Sidebar Content-->
        <li class="sidebar-title">
            <i class="fa " aria-hidden="true"></i>
            <span data-ng-bind="locationLabel"></span>
        </li>

        <sidebar-content title="각 연구소 네트워크" title-icon="fa-building-o">
            <div class="content-dropdown" data-ng-repeat="(deptKey, deptVal) in deptList">
                <select class="dropdown" data-ng-options="value.label for (key, value) in locations" data-ng-model="deptVal.location"></select>
                <button class="dropdown-button" data-ng-click="removeDept(deptKey);" data-ng-if="!$last">-</button>
                <button class="dropdown-button" data-ng-click="addDept();" data-ng-if="$last">+</button>
            </div>
        </sidebar-content>

        <sidebar-content title="모아보기">
            <div class="content-checkbox">
                <div class="checkbox">
                    <input id="dept" type="checkbox" />
                    <label for="dept">연구소</label>
                </div>
                <div class="checkbox">
                    <input id="rank" type="checkbox" />
                    <label for="rank">직급</label>
                </div>
                <div class="checkbox">
                    <input id="uni" type="checkbox" />
                    <label for="uni">학교</label>
                </div>
            </div>
        </sidebar-content>

        <sidebar-content title="연구원 찾기">
            <div class="content-search">
                <input type="text" data-ng-model="findThis" />
                <button><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </sidebar-content>

        <sidebar-content title="노드 크기 변경">
            <select>
                <option value="skills">공통기술</option>
                <option value="employeeCount">연구원 수</option>
                <option value="projectCount">진행프로젝트 수</option>
                <option value="skillCount">보유기술 수</option>
            </select>
        </sidebar-content>

        <sidebar-content title="링크 변경">
            <select>
                <option value="first">공통기술 (대분류)</option>
                <option value="second">공통기술 (중분류)</option>
                <option value="third">공통기술 (소분류)</option>
            </select>
        </sidebar-content>
        <!-- Sidebar Content End -->
    </sidebar>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <!-- Header Right -->
                    <!-- User Profile -->
                    <div class="user pull-right">
                        <div data-ng-if="user.session" class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header" data-ng-bind="user.name + ' 님'"></li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">프로필 변경하기</a>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#" data-ng-click="logout();">로그아웃</a>
                                </li>
                            </ul>
                        </div>
                        <div data-ng-if="!user.session" class="item dropdown" uib-dropdown>
                            <a class="clickable" ui-sref="template.login">로그인</a>
                        </div>
                    </div>
                    <!-- User Profile End -->
                    <!-- End Header Right -->

                    <!-- Header Left-->
                    <div class="meta">
                        <a href="#" class="navbar-button">
                            <i class="fa fa-share-alt" aria-hidden="true"></i>
                            <span>연결망검색</span>
                        </a>
                        <a href="#" class="navbar-button">
                            <i class="fa fa-key" aria-hidden="true"></i>
                            <span>키워드검색</span>
                        </a>
                        <a href="#" class="navbar-button">
                            <i class="fa fa-sitemap" aria-hidden="true"></i>
                            <span>트리보기</span>
                        </a>
                        <a href="#" class="navbar-button">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span>연구자관리</span>
                        </a>
                    </div>
                    <!-- End Header Left-->
                </div>
            </div>
            <!-- End Header Bar -->

            <!-- Main Content -->
            <div data-ui-view="content"></div>
            <!-- End Main Content-->
        </div>
        <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
</div>
<!-- End Page Wrapper -->