<div id="sidebar-wrapper">
    <ul class="sidebar">
        <sidebar-header></sidebar-header>
        <!--Sidebar Content -->
        <li data-ng-transclude></li>
        <!--Sidebar Content End -->
        <sidebar-footer></sidebar-footer>
    </ul>
</div>