.network {
    height: calc(100vh - 90px);
}

.clicker-container {
    position: absolute;
    z-index: 2;
}

.clicker {
    display: inline-block;
    cursor: pointer;
    background-color: white;
    border: solid black 3px;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}