html {
    overflow-y: auto;
}

.sidebar-contents {
    margin-top: 60px;
    padding: 15px;
}

.navbar-button {
    display: inline-block;
    width: 75px;
    color: black;
    margin-left: 10px;
}

.navbar-button > i {
    margin: 8px;
    font-size: 25px;
}

.navbar-button > span {
    position: absolute;
    margin-left: -52px;
    top: 38px;
}

ul.sidebar .sidebar-list.expanded {
    height: auto;
}

.sidebar-icon {
    margin-left: -42px;
    margin-top: 12px;
    position: absolute;
}