<li class="sidebar-list" data-ng-class="{'expanded':open}">
    <a data-ng-click="titleClicked($event);">
        <icon data-ng-if="titleIcon" class="sidebar-icon {{titleIcon}}" aria-hidden="true"></icon>
        <span data-ng-bind="title"></span>
    </a>
    <div data-ng-if="!link" data-ng-class="{'collapse':!open}" data-ng-transclude></div>
</li>